

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    
}

body {
    background-color: black;
}

.container-cabeçalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    

}

.logo img {
    width: 200px;
    height: auto;
   
  
   

}

.logo h1 {
    color: #fff;
    font-size: 2rem;
    margin-left: 2rem;
    margin-bottom: 250px; 
    box-sizing: 150px, 50px;
    
}

ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    position: sticky;
}

ul li a {
    text-decoration: none;
    color: black;
    cursor: pointer
    
}